@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__next {
        @apply w-full flex justify-center;

        background-color: #1b2324;
        color: #f0f0f0; /* 默认文本颜色 */
        /* 暗色模式下的样式 */
         

    }
}

@layer base {
    body {
        @apply font-sans bg-gray-100 text-pink-200; /* 自定义基础样式 */
    }
    textarea{
        color: #53462d
    }
}

@layer utilities {
    .bg-white {
        @apply bg-gradient-to-r from-blue-500 to-green-500; /* 自定义渐变背景 */
    }
    .bg-gray-100{
        background-color:rgb(34, 32, 37)
    }
    .text-gray-500{
        color: #31302e;
    }
    
}